Package: us.sudhip.sendtodesktop
Name: SendToDesktop
Version: 2.0.0-b1
Architecture: iphoneos-arm
Description: Send files from your phone to your PC
Maintainer: sunflsks
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader (>= 2.2.3), com.muirey03.libmryipc
Icon: http://ftp.sudhip.com/jbrepo/assets/sendtodesktop.png
