<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>

            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>

                <key>label</key>
                <string>Credentials</string>
            </dict>

            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>

                <key>defaults</key>
                <string>us.sudhip.stdp</string>

                <key>key</key>
                <string>username</string>

                <key>noAutoCorrect</key>
                <true/>

                <key>placeholder</key>
                <string>Username</string>
            </dict>

            <dict>
                <key>cell</key>
                <string>PSSecureEditTextCell</string>

                <key>defaults</key>
                <string>us.sudhip.stdp</string>

                <key>key</key>
                <string>password</string>

                <key>noAutoCorrect</key>
                <true/>

                <key>placeholder</key>
                <string>Password</string>
            </dict>

            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>

                <key>footerText</key>
                <string>Your password will not be shown after it is saved.</string>
            </dict>

            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>

                <key>label</key>
                <string>Server</string>
            </dict>

            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>

                <key>defaults</key>
                <string>us.sudhip.stdp</string>

                <key>key</key>
                <string>hostname</string>

                <key>noAutoCorrect</key>
                <true/>

                <key>placeholder</key>
                <string>Hostname</string>
            </dict>

            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>

                <key>defaults</key>
                <string>us.sudhip.stdp</string>

                <key>key</key>
                <string>directory</string>

                <key>noAutoCorrect</key>
                <true/>

                <key>placeholder</key>
                <string>Folder</string>
            </dict>

            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>

                <key>label</key>
                <string>UI</string>
            </dict>

            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>

                <key>label</key>
                <string>Enable UI</string>

                <key>default</key>
                <true/>

                <key>key</key>
                <string>enabledui</string>
            </dict>

            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>

                <key>label</key>
                <string>Advanced</string>
            </dict>

            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>

                <key>defaults</key>
                <string>us.sudhip.stdp</string>

                <key>key</key>
                <string>port</string>

                <key>placeholder</key>
                <string>Port</string>

                <key>isNumeric</key>
                <true/>
            </dict>

            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>

                <key>defaults</key>
                <string>us.sudhip.stdp</string>

                <key>key</key>
                <string>timeout</string>

                <key>placeholder</key>
                <string>Connection Timeout</string>

                <key>isNumeric</key>
                <true/>
            </dict>

            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>

                <key>label</key>
                <string>Public-Key</string>
            </dict>

            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>

                <key>label</key>
                <string>Use Public-Key Authentication</string>

                <key>default</key>
                <true/>

                <key>id</key>
                <string>PrivateKeySwitch</string>

                <key>key</key>
                <string>usePrivateKey</string>
            </dict>

            <dict>
                <key>cell</key>
                <string>PSEditTextViewCell</string>

                <key>defaults</key>
                <string>us.sudhip.stdp</string>

                <key>key</key>
                <string>privateKey</string>

                <key>noAutoCorrect</key>
                <true/>

                <key>height</key>
                <real>200</real>

                <key>id</key>
                <string>PrivateKeyCell</string>

                <key>placeholder</key>
                <string>SSH Private Key</string>

                <key>cellClass</key>
                <string>SDTextViewTableCell</string>
            </dict>

            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
            </dict>

            <dict>
                <key>cell</key>
                <string>PSButtonCell</string>

                <key>label</key>
                <string>Reset Preferences</string>

                <key>action</key>
                <string>clearPreferences</string>

                <key>confirmation</key>
                <dict>
                    <key>title</key>
                    <string>This cannot be undone. Proceed?</string>

                    <key>okTitle</key>
                    <string>Yes</string>

                    <key>cancelTitle</key>
                    <string>No</string>
                </dict>

                <key>isDestructive</key>
                <true/>
            </dict>
        </array>
        <key>title</key>
        <string>SendToDesktopPreferences</string>
    </dict>
</plist>
